<div class="container">
  <div class="container-fluid">
    <mat-form-field appearance="standard" class="justify-content-start">
      <mat-label>Buscar por CPF</mat-label>
      <input matInput (keyup)="find($event)" placeholder="Ex. 098" #input mask="000.000.000-00">
    </mat-form-field>

    <button id="buttonAdicionar" class="btn btn-success" (click)="novoCliente()">
      <mat-icon>
        <i class="fas fa-user-plus"></i>
      </mat-icon>
    </button>
  </div>

  <table class="table table-hover">
    <caption hidden>Tabela de Clientes</caption>
    <thead>
      <tr>
        <th hidden scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td hidden>{{client.id}}</td>
        <td>{{client.personalData.name}}</td>
        <td>{{client.personalData.cpf | cpf}}</td>
        <td>{{client.personalData.email}}</td>
        <td>{{client.personalData.phoneNumberOne | phone}}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div class="container">
              <button class="btn btn-info" (click)="info(client)">
                <mat-icon><i class="fas fa-info"></i></mat-icon>
              </button>
              <button class="btn btn-success" (click)="update(client)">
                <mat-icon><i class="fas fa-edit"></i></mat-icon>
              </button>
              <button class="btn btn-danger" (click)="deleteById(client.id); findById(client.id)">
                <mat-icon><i class="fas fa-user-minus"></i></mat-icon>
              </button>
            </div>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
