<mat-card>
    <mat-card-content>
        <form [formGroup]="loginForm">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput type="email" placeholder="Ex: email@example.com" id="username"
                       formControlName="username"
                       name="username" required>
                <mat-error>
                    Por favor insira um endereço de email válido
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password"
                       name="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                    Insira uma senha
                </mat-error>
            </mat-form-field>


            <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary" (click)="login()">
                Login
            </button>
        </form>
    </mat-card-content>
    <alert type="danger" *ngIf="isLoginFailed">
        {{ errorMessage }}
        {{message}}
    </alert>
</mat-card>

