<nav *ngIf="isLoggedIn" class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-danger" [routerLink]="['home']">
                <mat-icon><i class="fas fa-home"></i></mat-icon>
            </button>

            <button id="button-split" type="button" dropdownToggle
                    class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    aria-controls="dropdown-split">
                <span class="caret"></span>
                <span class="sr-only visually-hidden">Split button!</span>
            </button>

            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-split">
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['clientes']">Clientes</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['cadastro-funcionario']">Funcionarios</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['cadastro-produto']">Produtos</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['cadastro-fornecedor']">Fornecedores</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['cadastro-transportadora']">Transportadoras</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['estoque']">Estoque</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['vendas']">Vendas</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['perfil']">Perfil</a>
                </li>
            </ul>

        </div>

        <span class="spacer"></span>

        <div>
            <button class="btn btn-danger" *ngIf="isLoggedIn" (click)="logout()">
                <mat-icon>
                    <i class="fas fa-sign-out-alt"></i>
                </mat-icon>
            </button>
        </div>
    </div>
</nav>

